.nav, .directors .container, .directors__cards-info, .clients .container {
  display: flex;
  align-items: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%; }

body {
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
  color: #fff; }

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media only screen and (max-width: 56.25em) {
    .container {
      padding-left: 4rem;
      padding-right: 4rem; } }

.line {
  width: 5rem;
  height: 4px;
  outline: none;
  border: none; }
  .line--green {
    background-color: #79C8C7; }
    @media only screen and (max-width: 56.25em) {
      .line--green {
        display: none; } }
  .line--coral {
    background-color: #F67E7E; }

.call-to-action {
  min-height: 20rem;
  background-color: #F67E7E;
  background-image: url(../../images/cla-img.png);
  background-repeat: no-repeat;
  background-size: 20rem 14.4rem;
  background-position: bottom 0 left 0;
  padding: 7.6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .call-to-action {
      background-size: 20rem 10rem; } }
  .call-to-action .container {
    display: flex;
    justify-content: space-around; }
  .call-to-action__heading {
    color: #012F34;
    justify-content: space-around; }

@font-face {
  font-family: 'Livvic';
  src: url("../../fonts/Livvic-Medium.woff2") format("woff2"), url("../../fonts/Livvic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Livvic';
  src: url("../../fonts/Livvic-SemiBold.woff2") format("woff2"), url("../../fonts/Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.heading-secondary {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3.2rem;
      line-height: 3.2rem; } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: auto;
  border: 2px solid #fff;
  font-weight: 600;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 1rem 3.3rem; }
  .btn--light {
    border: 2px solid #012F34;
    color: #012F34;
    margin-left: 0; }
  .btn--submit {
    background-color: #fff;
    color: #004047;
    outline: none;
    border: none;
    margin-top: 4.4rem; }

.header {
  padding-top: 73px;
  min-height: 70rem;
  background-image: url(../../images/hero-img-1.png), url(../../images/hero-img-2.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem, 35.8rem 10rem;
  background-position: 0 50%, right 16.5rem bottom 0%; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding-top: 6.4rem;
      background-image: none, url(../../images/hero-img-2.png);
      background-position: center bottom; } }

.nav__logo {
  margin-right: 8rem; }

.footer {
  padding: 4.8rem 0;
  background-color: #002529;
  min-height: 16.9rem; }
  .footer .container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .footer .container {
        flex-direction: column; } }
    .footer .container .list {
      margin-top: 2.6rem; }
  .footer__left {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .footer__left {
        justify-content: space-between; } }
  .footer__address {
    width: 17rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.6;
    color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .footer__social {
      display: flex;
      justify-content: space-between;
      margin-top: 3.2rem; } }
  .footer__imgs {
    margin-left: 14rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__imgs {
        margin: 0; } }
  .footer__img {
    margin-right: 1.6rem; }
  .footer__rights {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: right;
    opacity: 0.6; }

.list {
  display: flex; }
  .list__link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem; }
  .list__item {
    list-style: none; }
    .list__item:not(:last-child) {
      margin-right: 4rem; }

.hero__main {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .hero__main {
      flex-direction: column;
      text-align: center;
      justify-content: center; } }

.hero__heading {
  width: 59.5rem;
  font-weight: bold;
  font-size: 10rem;
  line-height: 10rem;
  color: #fff; }
  @media only screen and (max-width: 56.25em) {
    .hero__heading {
      width: 50rem;
      font-size: 6.4rem;
      line-height: 5.6rem;
      margin-bottom: 0; } }
  .hero__heading--talent {
    color: #F67E7E; }

.hero__text {
  width: 44.5rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-top: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .hero__text {
      margin-top: 0;
      margin-top: 2.4rem;
      width: 54.7rem; } }

.team {
  min-height: 68.4rem;
  background-color: #012F34;
  background-image: url(../../images/team-img-1.png);
  background-repeat: no-repeat;
  background-size: 10rem 24.4rem;
  background-position: right 0 bottom 0;
  padding-top: 14rem;
  padding-bottom: 14rem; }
  @media only screen and (max-width: 56.25em) {
    .team {
      background-position: right 0 top 0; } }
  .team .container {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .team .container {
        justify-content: center;
        flex-direction: column; } }
  .team__heading {
    width: 44.5rem;
    margin-top: 5.4rem; }
    @media only screen and (max-width: 56.25em) {
      .team__heading {
        width: 44.5rem;
        font-size: 3.2rem;
        line-height: 3.2rem;
        margin-top: 3.2rem;
        margin-bottom: 6.4rem; } }

.team__members {
  display: flex; }
  .team__members-heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #F67E7E; }
  .team__members-text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.8;
    margin-top: 1.6rem;
    width: 44.5rem;
    margin-bottom: 3.2rem; }
  .team__members:first-child {
    margin-top: 5.4rem; }
  .team__members:first-child::before {
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url("../../images/team-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.3rem; }
  .team__members:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url("../../images/team-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.3rem; }
  .team__members:last-child::before {
    content: "";
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url("../../images/team-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.3rem; }

.stories {
  min-height: 74.5rem;
  background-color: #004047;
  background-image: url(../../images/story-img-1.png), url(../../images/story-img-2.png);
  background-repeat: no-repeat;
  background-size: 14.7rem 10rem, 20rem 10rem;
  background-position: top 0 left 0, bottom 0 right 0;
  padding-top: 14rem;
  padding-bottom: 14rem; }
  .stories .container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .stories__heading {
    width: 93.2rem;
    text-align: center; }
    @media only screen and (max-width: 56.25em) {
      .stories__heading {
        font-size: 3.2rem;
        line-height: 3.2rem;
        width: 47rem; } }
    .stories__heading--green {
      color: #79C8C7; }
  .stories__articles {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .stories__articles {
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
    .stories__articles-article {
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .stories__articles-article {
          margin-bottom: 4.6rem; } }
      .stories__articles-article::before {
        content: "";
        display: inline-block;
        width: 67px;
        height: 56px;
        background-image: url("../images/article-img-1.png");
        background-repeat: no-repeat;
        background-size: contain; }
    .stories__articles-text {
      width: 35rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      margin-top: -2rem;
      margin-bottom: 2.4rem; }
    .stories__articles-name {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 2px;
      color: #79C8C7; }
    .stories__articles-job {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.8rem;
      text-align: center;
      margin-bottom: 3.2rem; }

.about {
  padding-top: 7.3rem;
  min-height: 51.7rem;
  background-image: url(../../images/about-hero-img.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem;
  background-position: bottom 0 right 0; }
  .about__main {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .about__main-heading {
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 10rem;
      color: #fff; }
    .about__main-text {
      width: 73rem;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-top: 4rem; }

.directors {
  min-height: 100rem;
  background-color: #004047;
  background-image: url(../../images/directors-img-1.png), url(../../images/directors-img-2.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem, 14.7rem 10rem;
  background-position: top 0 left 0, bottom 0 right 0;
  padding-top: 14rem;
  padding-bottom: 14rem; }
  .directors .container {
    justify-content: center;
    flex-direction: column; }
  .directors__cards {
    margin-top: 6.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .directors__cards-card {
      position: relative;
      width: 35rem;
      min-height: 25.3rem;
      margin-bottom: 7.6rem;
      background-color: #012F34;
      padding: 3.2rem 2.4rem 5.6rem 2.4rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .directors__cards-heading {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-top: 1.6rem;
      color: #79C8C7; }
    .directors__cards-text {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      width: 25.4rem; }
    .directors__cards-social {
      display: flex;
      margin-top: 2.4rem; }
      .directors__cards-social__img {
        margin-right: 1.6rem; }
    .directors__cards-info {
      padding: 2rem;
      position: absolute;
      top: calc(50% - 16px / 2 + 105.5px);
      border-radius: 50%;
      background-color: #F67E7E;
      justify-content: center; }

.info-blue {
  background-color: #79C8C7; }

.aden {
  margin-top: 0;
  margin-bottom: 8px; }

.clients {
  min-height: 43.7rem;
  background-color: #012F34;
  background-image: url(../../images/clients-bg.png);
  background-repeat: no-repeat;
  background-size: 20rem 20rem;
  background-position: top 0 left 0;
  padding-top: 14rem;
  padding-bottom: 14rem; }
  .clients .container {
    flex-direction: column;
    justify-content: center; }
  .clients__names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6.4rem; }

.contact {
  padding-top: 7.3rem;
  min-height: 78.9rem;
  background-color: #014E56;
  background-image: url(../../images/directors-img-1.png), url(../../images/contact-img-1.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem, 9.3rem 20rem;
  background-position: left 0 top 20.5rem, bottom 0 right 0; }
  .contact__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem; }
  .contact__main-heading {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 10rem;
    margin-bottom: 0;
    margin-top: 0; }
  .contact__text {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4.8rem;
    margin-top: 0;
    color: #F67E7E; }

.team__members:first-child {
  margin-top: 0;
  margin-top: 3.2rem; }

.team__members:nth-child(2) {
  margin-top: 8px;
  margin-bottom: 8px; }

input,
textarea {
  outline: none;
  border: none;
  background-color: #014E56;
  width: 54rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 1.6rem;
  padding-top: 2.4rem;
  padding-right: 3rem; }

input::placeholder,
textarea::placeholder {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.115385px;
  color: rgba(255, 255, 255, 0.4); }

textarea {
  resize: none;
  overflow: hidden; }

.input__message {
  padding-bottom: 5.8rem; }
