.header {
  padding-top: 73px;
  min-height: 70rem;

  background-image: url(../../images/hero-img-1.png), url(../../images/hero-img-2.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem, 35.8rem 10rem;
  background-position: 0 50%, right 16.5rem bottom 0%;
}