.list {
  display: flex;
  &__link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  &__item {
    list-style: none;
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }
}
