.btn {
  display: inline-block;
  text-decoration: none;
  color: $color-white;
  margin-left: auto;

  border: 2px solid $color-white;
  font-weight: 600;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  padding: 1rem 3.3rem;

  &--light {
    border: 2px solid $color-sacramento-green;
    color: $color-sacramento-green;
  }

  &--submit {
    background-color: $color-white;
    color: $color-jungle-green;
    outline: none;
    border: none;

    margin-top: 4.4rem;
  }
}
