*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: $color-midnight-green;
  color: $color-white;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.line {
  width: 5rem;
  height: 4px;
  outline: none;
  border: none;

  &--green {
    background-color: $color-rapture-blue;
  }
  &--coral {
    background-color: $color-light-coral;
  }
}

.call-to-action {
  min-height: 20rem;
  background-color: $color-light-coral;
  background-image: url(../../images/cla-img.png);
  background-repeat: no-repeat;
  background-size: 20rem 14.4rem;
  background-position: bottom 0 left 0;
  padding: 7.6rem 0;

  & .container {
    display: flex;
  }

  &__heading {
    color: $color-sacramento-green;
    margin-left: 9rem;
  }
}
