*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: $color-midnight-green;
  color: $color-white;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero {
  &__main {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    width: 59.5rem;
    font-weight: bold;
    font-size: 10rem;
    line-height: 10rem;
    color: $color-white;

    &--talent {
      color: $color-light-coral;
    }
  }

  &__text {
    width: 44.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 7rem;
  }
}

.line {
  width: 5rem;
  height: 4px;
  outline: none;
  border: none;

  &--green {
    background-color: $color-rapture-blue;
  }
  &--coral {
    background-color: $color-light-coral;
  }
}

.team {
  min-height: 68.4rem;
  background-color: $color-sacramento-green;
  background-image: url(../../images/team-img-1.png);
  background-repeat: no-repeat;
  background-size: 10rem 24.4rem;
  background-position: right 0 bottom 0;

  padding-top: 14rem;
  padding-bottom: 14rem;

  &__main {
    display: flex;
    justify-content: space-between;
    margin-top: 5.4rem;
  }

  &__heading {
    width: 44.5rem;
  }
}

.team__members {
  display: flex;
  &-heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-light-coral;
  }

  &-text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.8;
    margin-top: 1.6rem;
    width: 44.5rem;
    margin-bottom: 3.2rem;
  }

  &:first-child::before {
    @include baImages(72px, 72px, "../../images/team-1.png");
    margin-right: 2.3rem;
    margin-left: 12.5rem;
  }

  &:nth-child(2)::before {
    @include baImages(72px, 72px, "../../images/team-2.png");
    margin-right: 2.3rem;
    margin-left: 12.5rem;
  }

  &:last-child::before {
    @include baImages(72px, 72px, "../../images/team-3.png");
    margin-right: 2.3rem;
    margin-left: 12.5rem;
  }
}

.heading-secondary {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;
}

.stories {
  min-height: 74.5rem;
  background-color: $color-jungle-green;
  background-image: url(../../images/story-img-1.png),
    url(../../images/story-img-2.png);
  background-repeat: no-repeat;
  background-size: 14.7rem 10rem, 20rem 10rem;
  background-position: top 0 left 0, bottom 0 right 0;
  padding-top: 14rem;
  padding-bottom: 14rem;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    width: 93.2rem;
    text-align: center;

    &--green {
      color: $color-rapture-blue;
    }
  }

  &__articles {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;

    &-article {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 3rem;

      &::before {
        @include baImages(67px, 56px, "../images/article-img-1.png");
      }

      &:nth-child(1)::after {
        @include baImages(62px, 62px, "../../images/person-1.png");
      }

      &:nth-child(2)::after {
        @include baImages(62px, 62px, "../../images/person-2.png");
      }

      &:nth-child(3)::after {
        @include baImages(62px, 62px, "../../images/person-3.png");
      }
    }

    &-text {
      width: 35rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      margin-top: -2rem;
      margin-bottom: 2.4rem;
    }

    &-name {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 2px;

      color: $color-rapture-blue;
    }

    &-job {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.8rem;
      text-align: center;
      margin-bottom: 3.2rem;
    }
  }
}

.call-to-action {
  min-height: 20rem;
  background-color: $color-light-coral;
  background-image: url(../../images/cla-img.png);
  background-repeat: no-repeat;
  background-size: 20rem 14.4rem;
  background-position: bottom 0 left 0;
  padding: 7.6rem 0;

  & .container {
    display: flex;
  }

  &__heading {
    color: $color-sacramento-green;
    margin-left: 9rem;
  }
}
