@font-face {
    font-family: 'Livvic';
    src: url('../../fonts/Livvic-Medium.woff2') format('woff2'),
        url('../../fonts/Livvic-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../../fonts/Livvic-SemiBold.woff2') format('woff2'),
        url('../../fonts/Livvic-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.heading-secondary {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 4.8rem;

  @include respond(tab-port) {
      font-size: 3.2rem;
      line-height: 3.2rem;
  }
}

