.about {
  padding-top: 7.3rem;
  min-height: 51.7rem;

  background-image: url(../../images/about-hero-img.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem;
  background-position: bottom 0 right 0;

  &__main {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-heading {
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 10rem;
      color: $color-white;
    }

    &-text {
      width: 73rem;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-top: 4rem;
    }
  }
}

.directors {
  min-height: 100rem;
  background-color: $color-jungle-green;
  background-image: url(../../images/directors-img-1.png),
    url(../../images/directors-img-2.png);
  background-repeat: no-repeat;
  background-size: 10rem 20rem, 14.7rem 10rem;
  background-position: top 0 left 0, bottom 0 right 0;

  padding-top: 14rem;
  padding-bottom: 14rem;

  & .container {
    @extend %flexCenter;
    justify-content: center;
    flex-direction: column;
  }

  &__cards {
    margin-top: 6.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-card {
      position: relative;
      width: 35rem;
      min-height: 25.3rem;
      margin-bottom: 7.6rem;

      // background-image: url(../../images/Oval.png);
      // background-repeat: no-repeat;
      // background-size: 5.6rem 5.6rem;

      background-color: $color-sacramento-green;
      padding: 3.2rem 2.4rem 5.6rem 2.4rem;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-heading {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.8rem;

      margin-top: 1.6rem;
      color: $color-rapture-blue;
    }

    &-text {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      width: 25.4rem;
    }

    &-social {
      display: flex;
      margin-top: 2.4rem;
      &__img {
        margin-right: 1.6rem;
      }
    }

    &-info {
      // width: 5.6rem;
      // height: 5.6rem;
      padding: 2rem;
      position: absolute;
      top: calc(50% - 16px / 2 + 105.5px);

      border-radius: 50%;
      background-color: $color-light-coral;

      @extend %flexCenter;
      justify-content: center;
    }
  }
}

.info-blue {
  background-color: $color-rapture-blue;
}

.aden {
  margin-top: 0;
  margin-bottom: 8px;
}

.clients {
  min-height: 43.7rem;
  background-color: $color-sacramento-green;
  background-image: url(../../images/clients-bg.png);
  background-repeat: no-repeat;
  background-size: 20rem 20rem;
  background-position: top 0 left 0;

  padding-top: 14rem;
  padding-bottom: 14rem;

  & .container {
    @extend %flexCenter;
    flex-direction: column;
    justify-content: center;
  }

  &__names {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 6.4rem;
  }
}
