.hero {
  &__main {
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
  }

  &__heading {
    width: 59.5rem;
    font-weight: bold;
    font-size: 10rem;
    line-height: 10rem;
    color: $color-white;

    @include respond(tab-port) {
      width: 50rem;
      font-size: 6.4rem;
      line-height: 5.6rem;
      margin-bottom: 0;
    }

    &--talent {
      color: $color-light-coral;
    }
  }

  &__text {
    width: 44.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-top: 7rem;

    @include respond(tab-port) {
      margin-top: 0;
      margin-top: 2.4rem;
      width: 54.7rem;
    }
  }
}

.team {
  min-height: 68.4rem;
  background-color: $color-sacramento-green;
  background-image: url(../../images/team-img-1.png);
  background-repeat: no-repeat;
  background-size: 10rem 24.4rem;
  background-position: right 0 bottom 0;

  @include respond(tab-port) {
    background-position: right 0 top 0;
  }

  padding-top: 14rem;
  padding-bottom: 14rem;

  & .container {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      justify-content: center;
      flex-direction: column;
    }
  }

  // &__main {
  //   display: flex;
  //   justify-content: space-between;
  //
  // }

  &__heading {
    width: 44.5rem;
    margin-top: 5.4rem;

    @include respond(tab-port) {
      width: 44.5rem;
      font-size: 3.2rem;
      line-height: 3.2rem;
      margin-top: 3.2rem;
      margin-bottom: 6.4rem;
    }
  }
}

.team__members {
  display: flex;
  &-heading {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: $color-light-coral;
  }

  &-text {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 0.8;
    margin-top: 1.6rem;
    width: 44.5rem;
    margin-bottom: 3.2rem;
  }

  &:first-child {
    margin-top: 5.4rem;
  }

  &:first-child::before {
    @include baImages(72px, 72px, "../../images/team-1.png");
    margin-right: 2.3rem;
    // margin-left: 12.5rem;
  }

  &:nth-child(2)::before {
    @include baImages(72px, 72px, "../../images/team-2.png");
    margin-right: 2.3rem;
    // margin-left: 12.5rem;
  }

  &:last-child::before {
    @include baImages(72px, 72px, "../../images/team-3.png");
    margin-right: 2.3rem;
    // margin-left: 12.5rem;
  }
}

.stories {
  min-height: 74.5rem;
  background-color: $color-jungle-green;
  background-image: url(../../images/story-img-1.png),
    url(../../images/story-img-2.png);
  background-repeat: no-repeat;
  background-size: 14.7rem 10rem, 20rem 10rem;
  background-position: top 0 left 0, bottom 0 right 0;
  padding-top: 14rem;
  padding-bottom: 14rem;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    width: 93.2rem;
    text-align: center;

    @include respond(tab-port) {
      font-size: 3.2rem;
      line-height: 3.2rem;
      width: 47rem;
    }

    &--green {
      color: $color-rapture-blue;
    }
  }

  &__articles {
    margin-top: 5.6rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &-article {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include respond(tab-port) {
        margin-bottom: 4.6rem;
      }

      &::before {
        @include baImages(67px, 56px, "../images/article-img-1.png");
      }
    }

    &-text {
      width: 35rem;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.5rem;
      text-align: center;
      margin-top: -2rem;
      margin-bottom: 2.4rem;
    }

    &-name {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-bottom: 2px;

      color: $color-rapture-blue;
    }

    &-job {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.8rem;
      text-align: center;
      margin-bottom: 3.2rem;
    }
  }
}
